* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100%;
}
/*Header*/


header {
    background-color: #1F2937;
}


header .container {
    max-width: 1400px;
    margin: 0 auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 80px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

header a {
    text-decoration: none;
    color:  #E5E7EB;
    font-size: 18px;
}

header .logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

header .header2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end ;
    padding: 20px 20px 100px 20px;
    color: white;
    gap: 40px;
}

header p {
    flex: 1;
    color:  #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 500px;
}

header h1 {
    flex: 1;
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
}

header .img {
    width: 500px;
    height: 200px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header button {
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}


/* Hero section 1 */

.containerhero1 {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

section h1 {
    margin: 40px 0;
    font-size: 36px;
    font-weight: 800;
}

section .img1 {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

section .description {
    display: flex;
    justify-content: center;
    gap: 50px;
}

section .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    max-width: 200px;   
    color: rgb(131, 131, 131);
}

/* Hero section 2  */

.hero2 {
    background-color: #E5E7EB;
}

.containerhero2 {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
  
}

.quote {
    max-width: 850px;
    font-size: 36px;
    color: #455870;
    font-weight: 100;
    font-style: italic;
    text-align: left;
}

.author {
    align-self: flex-end;
    margin-right: 90px;
    font-weight:  bold;
    color:#1F2937;
    font-size: 25px;
    white-space: nowrap;
}

/* Hero Section 3 */
.hero3 {
    background-color: white;
}
.containerhero3 {
    background-color: #3882F6;
    max-width: 1400px;
    margin: 80px auto 80px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.text2 .headline {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
}

.text2 .description {
    color: #e4e4e4;
    font-weight: lighter;
    opacity: 50%;
    font-size: 26px;
}

.signup {
    font-size: 18px;
    color: #fff;
    padding: 10px 40px;
    background-color: #3882F6;
    border: 3px solid #fff;
    border-radius: 10px;
}

/* Footer */

footer {
    background-color: #1F2937;
}

.containerfooter {
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
